<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}" />
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%; 
          text-align: center; 
        }

        .btn {
          padding: 10px 20px;
        }
    </style>
  </head>
  <body>
    <div class="main-content">
      <div id="sidebar" class="sidebar">
        <div class="logo">
          <img class="navbar-img"  src="{{ url_for('static', filename='uploads/' + (sector_code+'.png' if sector_code else 'default.jpg')) }}" alt="Logo" />
        </div>
        <ul>
          <li>
            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event, 'dropdown-1')"
              ><i class="fa-solid fa-house"></i> Dashboard
              <i class="fas fa-caret-down"></i
            ></a>
            <ul id="dropdown-1" class="dropdown">
              <li><a href="employee_profile"> profile</a></li>
            </ul>
          </li>
          <li>
            <a href="exam_cards" class="active-page"><i class="fas fa-plus"></i> Create New Exam</a>
          </li>
          <li>
            <a href="gift"><i class="fa-solid fa-trophy"></i> Add Gift</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-globe"></i> Language</a>
          </li>
          <li>
            <a href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
       
      </div>

      <!-- Burger Menu (Visible on mobile) -->
      <div class="burger" onclick="toggleSidebar()">
        <div class="burger-icon"></div>
        <div class="burger-icon"></div>
        <div class="burger-icon"></div>
      </div>

      <div class="main-section">
        <!-- Navigation Steps -->
        <div class="navigation-steps">
          <i class="fas fa-home"></i>
          <span>Home > Dashboard >Questions </span>
        </div>
        <div class="first-div">
            <div class="question-div">
                <h1 style="font-size: 20px; font-weight: 600;">Exam questions</h1>
               
             
                <div class="row-card">
                  {% for question in questions %}
                  <div class="exam-card">
                      <a href="{{ url_for('true_false', question_id=question.question_id) }}" class="card-link">
                          <div class="detailsofexam">
                              <h2 class="nameofexam">{{ question.question_name }}</h2>
                          </div>
                      </a>
                      <form action="{{ url_for('delete_question_T_F', question_id=question.question_id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('هل أنت متأكد من حذف هذا السؤال؟')">
                          <i class="fas fa-trash"></i>Delete

                        </button>
                    </form>
                  </div>
                  {% endfor %}
                  <form action="{{ url_for('add_question_T_or_F', lesson_id=lesson_id) }}" method="POST">
                    <button class="btn" type="submit">
                        <i class="fas fa-plus"></i> Add questions
                    </button>
                </form>
                </div>
            </div>
        </div>
      </div>
    </div>

    <script src="Script.js"></script> 
  </body>
</html>