<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}" />
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-content">
      <div id="sidebar" class="sidebar">
        <div class="logo" style="display: flex; justify-content: center; align-items: center; ">
          <img class="navbar-img" src="{{ url_for('static', filename='uploads/' + (sector_code+'.png' if sector_code else 'default.jpg')) }}" alt="Logo" style=" height: auto;">
        </div>
        <ul>
          <li data-target="dropdown-1" style="margin-top: 20px;">
            <a href="#" id="dashboard-link" class="dropdown-toggle" onclick="toggleDropdown(event, 'dropdown-1')">
              <i class="fa-solid fa-house"></i> Dashboard
              <span class="arrow-icon" style="margin-left:10px ;"><i class="fa-solid fa-angle-down"></i></span>
            </a>
            <ul id="dropdown-1" class="dropdown">
              <li><a href="owner.html"> > Company owner</a></li>
              <li><a href="organizer.html"> > Organizer</a></li>
              <li><a href="administrator.html"> > Administrators</a></li>
              <li><a href="manager.html"> > Managers</a></li>

              <li>
                <a href="manager to manager.html"> > Managers to manager</a>
              </li>

              
              <li><a href="lectures.html"> > Lectures</a></li>
            </ul>
          </li>
          <li data-target="dropdown-1" style="margin-top: 5px;">
            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event, 'nested-dropdown')"><i class="fa-solid fa-users"></i>Users
              <span class="arrow-icon" style="margin-left:20px ;"><i class="fa-solid fa-angle-down"></i></span>
            </a>
            <ul id="nested-dropdown" class="dropdown nested-dropdown">
              <li><a href="student.html"> > Students</a></li>
              <li><a href="employee.html"> > Employees</a></li>
            </ul>
          </li>
          <li>
            <a href="questions.html"><i class="fas fa-plus"></i> Create New Exam</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-globe"></i> Language</a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-gear"></i> Settings</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
      </div>
      
      <!-- Burger Menu (Visible on mobile) -->
      <div class="burger" onclick="toggleSidebar()">
        <div class="burger-icon"></div>
        <div class="burger-icon"></div>
        <div class="burger-icon"></div>
      </div>

      <div class="main-section">
        <!-- Navigation Steps -->
<div class="navigation-steps">
  <div>
    <i class="fas fa-home"></i>
    <span>Home > Dashboard >Questions  </span>
  </div>
  <div class="notify-bell">
    <a href="notification" 
    style="position: relative; display: inline-block; text-decoration: none; color: #0D7C66; font-size: 22px;"
    onmouseover="this.style.color='#479b8a'" 
    onmouseout="this.style.color='#0D7C66'">
   
   <i class="fa-solid fa-bell"></i>
 
   {% if notification_dot_display %}
     <span style="
       position: absolute;
       top: 0px;
       right: 0px;
       width: 10px;
       height: 10px;
       background: red;
       border-radius: 50%;
       display: inline-block;
     "></span>
   {% endif %}
 </a>
 
    
  </div><!-- Notification Icon -->
</div>
        <div class="first-div">
            <div class="question-div">
              <div class="container">
                <!-- First Div -->
                <div class="header-section">
                  <h2>Create New Exam</h2>
                  <button class="edit-button" onclick="window.location.href= 'edit-exams.html'">
                    <i class="fa fa-pen"></i> Show Exam
                  </button>
                </div>
            
                <!-- Second Div -->
                <div class="form-section">
                  <div class="input-row">
                    <div class="input-container">
                      <input type="text" required />
                      <label>Exam name</label>
                    </div>
                    <div class="input-container">
                      <input type="text" required />
                      <label>Description</label>
                    </div>
                  </div>
                 
                </div>
              </div>
                <h2>Dynamic correct </h2>
                <div class="card-row">
                    <div class="card">
                        <a href="mcq-multiple-ans.html">
                          <img src="{{ url_for('static', filename='assets/mcq-one.png') }}" alt="Image 1">
                          <h3>Multiple choice multiple answers</h3>
                        </a>
                    </div>
                <div class="card">
                    <a href="true-false.html">
                  <img src="{{ url_for('static', filename='assets/true&false.png') }}" alt="Image 2">
                  <h3>True or false</h3>
                </a>
                </div>
                <div class="card">
                  <a href="fill-in-blank.html">
                  <img src="{{ url_for('static', filename='assets/fill in the blank.png') }}" alt="Image 3">
                  <h3>fill the blank</h3>
                  </a>
                </div>
                <div class="card">
                  <a href="sequence.html">
                    <img src="{{ url_for('static', filename='assets/seq.png') }}" alt="Image 3">
                    <h3>Sequence</h3>
                  </a>
              
                  </div>
                  <div class="card">
                    <a href="matching.html">
                    <img src="{{ url_for('static', filename='assets/match.png') }}" alt="Image 3">
                    <h3>Matching</h3>
                    </a>
                  </div>
                  <div class="card">
                    <a href="mcq-one answer.html">
                    <img src="{{ url_for('static', filename='assets/mcq-multi.png') }}" alt="Image 1">
                    <h3>Multiple choice one answer</h3>
                    </a>
                  </div>
                  <div class="card">
                    <img src="{{ url_for('static', filename='assets/drag&drop.png') }}" alt="Image 1">
                    <h3>Drag & drop</h3>
                  </div>
                  <div class="card">
                    <a href="classification.html">
                    <img src="{{ url_for('static', filename='assets/classification.png') }}" alt="Image 1">
                    <h3>classification </h3>
                    </a>
                  </div>
                  <div class="card">
                    <img src="{{ url_for('static', filename='assets/fill in the blank mc.png') }}" alt="Image 1">
                    <h3>Fill the blank MCQ</h3>
                  </div>
                  <div class="card">
                    <a href="generate-Ai.html">
                    <img src="{{ url_for('static', filename='assets/Ai.png') }}" alt="Image 1">
                    <h3>Generate with AI</h3>
                    </a>
                  </div>
                 
                </div>
            </div>
          
         <div class="second-div">
                 <!-- Column 2 -->
                 <div class="question-div">
                    <h2>Manual correct </h2>
                   
                        <div class="card-row">
                            <div class="card">
                              <a href="article.html">
                              <img src="{{ url_for('static', filename='assets/article.png') }}" alt="Image 1">
                              <h3>Article</h3>
                              </a>
                            </div>
                        </div>
                  </div>
         </div>
          
             <div class="third-div">
                 <!-- Column 3 -->
              <div class="question-div">
                <h2>Games</h2>
                <div class="card-row">
                 
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/games.png') }}" alt="Image 1">
                        <h3>games</h3>
                      </div>
                </div>
             </div>
        </div>


      </div>
    </div>

    <script src="Script.js"></script> 
  </body>
</html>
